.footer {
  background:  var(--base-txt-color);
  color: rgb(28, 27, 27);
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand {
  margin-bottom: 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paragraph_footer{
    color:var(--body-bg);
    font-size: 0.9rem;
    margin-top:0.2em;
    margin-bottom:0.2em;
}

.footer-logo {
  height:150px;
  // margin-left:3em;
  
  
  
}
.footer-logo:hover {
  cursor: pointer;
  opacity: 0.8;
  
}
  .footer-brand p{
    margin-top:0;
    margin-bottom:0;
  }

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.footer-links li a {
  color: var(--body-bg);
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-links li a:hover {
 
  text-decoration: underline;
   color:var(--brand-color);
  transition: color 0.3s ease;
  opacity: 0.8;
}