// .hero {
//   position: relative;
//   background: linear-gradient(to right, #2c3f50, #556886);
//   color: white;
// //   padding: 4rem 2rem  ;
//     padding: 12em 6em ;
//   // overflow-x: hidden;
//   text-align: center;
// }

// .hero-flex {
//   display: flex;
//   gap: 6rem;
//   align-items: center;
//   justify-content: space-between;
 
  
  
// }
// * Image styling */



// Style button hero page Railway

.btn {
  background-color: var(--brand-color);
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(251, 245, 245);
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}
a.btn_hero:hover{
  background-color:var(--body-bg);
  color: var(--base-txt-color);
  border: 0.2em solid var(--brand-color);
  padding:1em 2em;

}

.frame-decoration {
  position: absolute;
  bottom:-1px;
//   bottom: 0;
  left: 0;
  width: 100%;
  height:auto;
    
    z-index: 0 ;
    // this here is added to make the wave fill the whole screen
}


.hero-image-wrapper {
  max-width: 400px;
  min-width:300px;
  height:auto;
  
  width: 100%;
  aspect-ratio: 1 / 1; // ensures square
  overflow: hidden;
}


.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  mix-blend-mode: lighten; // or try multiply / screen / overlay
  opacity: 0.9;             // optional: soft blending
}



  // =================================aislwyas components styles 
// Railsway Hero Section styles
  .hero-container{
      
    position: absolute;
    top:0;      // distance from top of container
    left: 0;     // distance from left of container
    background:var(--base-txt-color);  // semi-transparent black
    color: white;
    padding: 2em ;
    border-radius: 8px;
    max-width:400px;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    height: calc(103vh - 1px)
  }

  .hero_title_video {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color:var(--body-bg);
    padding:7em 1em 1em 1em;
  }
 